<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h3>v-if 条件渲染</h3>
    <input type="checkbox" v-model="seen">勾选后显示小红快
    <div v-if="seen" class="box"></div>
    <p v-else="seen">小红快隐藏</p>


    <div v-show="seen" class="boxVshow"></div>
  </div>
  <script src=" ../node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#app',
      data: {
        seen: false
      }
    });
  </script>
  <style>
    .box {
      width: 200px;
      height: 200px;
      background: green;
    }

    .boxVshow {
      width: 200px;
      height: 200px;
      background: red;
    }
  </style>
</body>

</html>